<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dayna Salalila</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="header">
    <h1><%= name %></h1><br>
    <div class="section">
    <h2>Basic Information</h2><br>
    <h3>Address </h3>
    <p><%= address %></p>
    <h3>Birthday </h3>
    <p><%= bday %></p>
    <h3>Email </h3>
    <p><%= email %></p>
    <h3>Telephone Number </h3>
    <p><%= tnum %></p>
    <h3>Language Spoken </h3>
    <p><%= language %></p><br>

    <h2>Education</h2> 
    <ul>
    <li><b>Elementary</b><br><br> <%= elem%>    <p><i>Salutatorian</i></p></li>

    <li><b>High School</b><br><br> <%= hs%><p><i>Valedictorian</i></p></li>
    <li><b>College</b><br><br> <%= col%></li>
    </ul><br>
    <h2>Expertise/Skills</h2>
    <p><%= profi%></p>

    </div>

</body>
</html>